@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body {
		@apply bg-gray-800;
	}
	body::-webkit-scrollbar {
		@apply bg-gray-900;
		@apply rounded-full;
	}
	body::-webkit-scrollbar-thumb {
		@apply rounded-full;
		@apply bg-gray-600;
	}
	.scroll::-webkit-scrollbar-thumb {
		@apply rounded-full;
		@apply bg-gray-600;
	}
	.scroll::-webkit-scrollbar {
		@apply bg-gray-900;
		@apply rounded-full;
	}
	button:focus {
		@apply outline-none;
	}
}

.remove-opacity {
	opacity: 100 !important;
}
li.slider-slide:focus {
	outline: none;
}
div.bm-item:focus {
	outline: none;
}
div.bm-menu {
	overflow: hidden !important;
}
.hover-opacity:hover img {
	opacity: 0.3;
}
.hover-opacity:hover .card-buttons {
	visibility: visible;
}
.card-buttons {
	visibility: hidden;
}
